            <footer>
                <div class="footer-social">
                    <div class="email-signup">
                        <form>
                            <label class="email-alert">Email Sign Up</label>
                            <input type="text" placeholder="Email Address"></input>
                            <button type="submit">Go</button>
                        </form>
                    </div>
                    <div class="social-links">
                        <label class="social-title">Rawlings Baseball</label>
                        <ul class="links">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                            </li>
                        </ul>               
                    </div>
                    <div class="social-links">
                        <label class="social-title">Rawlings Softball</label>
                        <ul class="links">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                            </li>
                        </ul>               
                    </div>
                </div>
                <div class="footer-container">
                    <div class="footer-item">
                        <div class="content-asset">
                            <label>Customer Care</label>
                            <ul class="menu-footer">
                                <li>
                                    <a href="#">Customer Help</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Order Status</a>
                                </li>
                                <li>
                                    <a href="#">Sizing Charts</a>
                                </li>
                                <li>
                                    <a href="#">Warranty Information</a>
                                </li>
                                <li>
                                    <a href="#">Free Returns</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="content-asset">
                            <label>Information</label>
                            <ul class="menu-footer">
                                <li>
                                    <a href="#">Gift Cards</a>
                                </li>
                                <li>
                                    <a href="#">Rewards</a>
                                </li>
                                <li>
                                    <a href="#">Find a Wishlist</a>
                                </li>
                                <li>
                                    <a href="#">Download a Catalog</a>
                                </li>
                                <li>
                                    <a href="#">Team or Group Sales</a>
                                </li>
                                <li>
                                    <a href="#">My Locker / Uniform Builder</a>
                                </li>
                                <li>
                                    <a href="#">Store Locator</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="content-asset">
                            <label>Company</label>
                            <ul class="menu-footer">
                                <li>
                                    <a href="#">About Rawlings</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                                <li>
                                    <a href="#">Affiliate Programs</a>
                                </li>
                                <li>
                                    <a href="#">CA Transparency Act</a>
                                </li>
                                <li>
                                    <a href="#">Terms of use</a>
                                </li>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Security</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="footer-item-last" class="footer-item">
                        <div class="content-asset">
                            <p>
                                <label>Contact</label>
                            </p>
                            <ul class="menu-footer contact">
                                <li>
                                    <i class="far fa-envelope fa-2x"></i>
                                    <a href="#">service@rawlings.com</a>
                                </li> 
                                <li>
                                    <i class="fas fa-headphones fa-2x"></i>
                                    <a href="">Commerce: 1-866-678-4327</a>
                                </li>
                                <li>   
                                    <i class="fas fa-clock fa-2x"></i>
                                    <span>Mon - Fri: 9am – 7pm ET</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content-asset">
                    <p class="copyright">©  Rawlings Sporting Goods.</p>
                </div>
                
            </footer>
                            
                        
                        
                
        
        </div>
        <script src="/js/effect.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            window.onscroll = function() {myFunction()};
            
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;
            
            function myFunction() {
              if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
              } else {
                navbar.classList.remove("sticky");
              }
            }
        </script>
        
    </body>
</html>