<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheet/header.css"></link>
        <link rel="stylesheet" href="/stylesheet/footer.css"></link>
        <link rel="stylesheet" href="/stylesheet/content.css"></link>
        <title>Baseball and SoftBall Gloves</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="header-banner">
                <div class="header-promotion">
                    <p class="promotion-header-text">Free Shipping on Orders $50 and Up + FREE Returns</p>
                    <div class="gift-card-content">
                        <img style="vertical-align: middle; height: 26px; width: 26px;"  src="/pictures/gift.png"></img>
                        <a href="#">
                            <span>Shop Gift Cards</span>
                        </a>
                    </div>
                </div>
                <div class="menu-utility-user">
                    <ul>
                        <li class="stores chat">
                            <a href="#">
                                <i class="fas fa-comment fa-lg"></i>
                                <span style="padding-left: 4px">Live Chat</span>
                            </a>
                        </li>
                        <li class="user-info" class="dropdown show">
                            <a href="#" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user fa-lg"></i>
                                <i class="fas fa-caret-square-down fa-lg" style="padding-left: 4px"></i>
                            </a>
                            <div id="user-panel" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <h2 class="dropdown-header">Login / Register</h2>
                                <a class="dropdown-item" href="#">Login</a>
                                <a class="dropdown-item" href="#">Register</a>
                            </div>
                        </li>
                        <li class="stores">
                            <a href="#">
                                <i class="fas fa-thumbtack fa-lg"></i>
                            </a>
                            
                        </li>
                    </ul>
                </div>
            </div>
            
            <header id="navbar">    
                <h1 class="primary-logo">
                    <img src="/pictures/logo.png"></img>
                </h1>
                <div class="header-nav">
                    <ul class="menu-category">
                        <li>
                            <a data-toggle="collapse" href="#gloves" role="button" aria-expanded="false" aria-controls="gloves">Gloves</a>

                        </li>
                        <li>
                            <a data-toggle="collapse" href="#bats" role="button" aria-expanded="false" aria-controls="bats">bats</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#balls" role="button" aria-expanded="false" aria-controls="balls">balls</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#gear" role="button" aria-expanded="false" aria-controls="gear">gear</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#specialty" role="button" aria-expanded="false" aria-controls="specialty">specialty</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#sports" role="button" aria-expanded="false" aria-controls="sports">all sports</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#players" role="button" aria-expanded="false" aria-controls="players">player & teams</a>
                        </li>
                        <li>
                            <a href="#">sale</a>
                        </li>
                        <li>
                            <a href="#">featured deal</a>
                        </li>
                        <li id="custom" >
                            <a data-toggle="collapse" href="#custom" role="button" aria-expanded="false" aria-controls="custom">
                                <img id="custom-img" src="/pictures/if_arrow_1282955.png"></img>
                                <span>Custom</span>
                            </a>

                        </li>
                    </ul>
                </div>  
                <div class="header-search">
                    <form>
                        <fieldset>
                            <input type="text" placeholder="Search"></input>
                            <button type="submit">
                                <i class="fas fa-search fa-lg"></i>
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div id="mini-cart">
                    <a href="#">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </a>
                </div>
            </header>

            <div class="banner">
                <img src="/pictures/gloves-1920-400 (1).jpg"></img>
            </div>
            
            
        
      
        
        
    
    